{% extends 'base.html' %}
{% block title %}Об авторе{% endblock title %}
  <body>
    {% block content %}
      <h1>Об авторе</h1>
      <p>
        Привет, я Serenity, мой Git: github.com/serenityblood</br>
        Когда-нибудь я стану великим питонистом, а html не люблю
      </p>
      <img src="https://sun9-11.userapi.com/s/v1/ig2/xnHSwhoNb1PeekFKCgllNVl9pDERb19YXnQz3tLdTcFPNQvyeIO6mQIoRzm5YIDHhF9Ys1SvM0BID9G81hrTIWSo.jpg?size=560x479&quality=96&type=album" width="500px" align="middle">
    {% endblock %}
  </body>
</html> 